*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hero-section {
  height: 500px;
  width: 100%;
  background: url(../Assets/blog/hero-image.avif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 40px;
  color: white;
}
.hero-content h1 {
  font-size: 36px;
  font-weight: 700;
}
.hero-content p {
  font-size: 18px;
  font-weight: 700;
  max-width: 700px;
}
.menu {
  padding: 8px;
  background-color: rgb(226, 114, 91);
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease;
}
.menu:hover {
  background-color: rgb(223, 127, 108);
}

.recent {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: 400px;
  transition: all 300ms ease;
  cursor: pointer;
  border: (none, 1px #87986a);
}
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: calc(100% / 2);
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.text {
  width: 100%;
  height: calc(100% / 2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text h2 {
  font-size: 20px;
  font-weight: 700;
}
.text p {
  font-size: 16px;
}
.text span {
  font-size: 12px;
}
